.pie-chart-component-body {
  padding-top: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.chart-header {
  display: flex;
  flex-direction: column;
}

.chart-title {
  display: flex;
  justify-content: center;

  & h1 {
    color: white;
    background: #04838f;
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    text-align: center;
    font-weight: 200;
  }

}

.chart-subtitle-container {
  display: flex;
  justify-content: center;
}

.chart-subtitle-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid darkcyan;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;

  &:first-child, &:nth-child(2) {
    margin-right: 2rem;
  }

  & .chart-subtitle {
    margin-bottom: 0.25rem;
  }

  & .chart-subtitle-digit {
    font-weight: 700;
  }
}

.chart-container{
  display: flex !important;
  justify-content: center !important;
}

.medals{
  background-image: url("/assets/static/medaille.png");
  display: block;
  width: 24px;
  height: 24px;
}

.back-link{
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  paddind-top: 8px;

  &:hover, &:active{
    color: black;
  }

  &:before{
    content: '\002190';
    margin-right: 8px;
    font-weight: 700;

  }
}

@media only screen and (max-width: 800px) {
  .chart-subtitle-container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & .chart-subtitle-body{
      margin-right: 0;
      margin-left: 0;
      margin-bottom: 1rem;
    }
  }
}
